<!--
<form accept-charset="UTF-8" method="POST" action="/users">

  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]"> <br><br>
  
  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]"><br><br>

  <label for="user[password]">Password:</label>
  <input type="password" name="user[password]"> <br><br>

  <input type="submit" value="Finish">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->

<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

  <br>

  <%= label_tag(:email, "E-mail:") %>
  <%= email_field_tag(:email) %>

  <br>

  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>

  <br>

  <%= submit_tag("SUbmit") %>
<% end %>