<!--
<form accept-charset="UTF-8" method="POST" action="/users">

  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]"> <br><br>
  
  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]"><br><br>

  <label for="user[password]">Password:</label>
  <input type="password" name="user[password]"> <br><br>

  <input type="submit" value="Finish">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form>
-->



<!--
<%= form_tag("/users", method: "post") do %>
  <%= label_tag(:username, "Username:") %>
  <%= text_field_tag(:username) %>

  <br>

  <%= label_tag(:email, "E-mail:") %>
  <%= email_field_tag(:email) %>

  <br>

  <%= label_tag(:password, "Password:") %>
  <%= password_field_tag(:password) %>

  <br>

  <%= submit_tag("SUbmit") %>
<% end %>
-->



<%= form_with model: @user do |user_form| %>
  <%= user_form.label :username, "Your username here: " %>
  <%= user_form.text_field :username, value: "Ben" %>

  <br>

  <%= user_form.label :email, "E-mail:" %>
  <%= user_form.email_field :email, placeholder: "example@example.com" %>

  <br>

  <%= user_form.label :password, "Password:" %>
  <%= user_form.password_field :password %>
  
  <br>

  <%= user_form.submit %>
<% end %>